.jumbotron {
    background-color: linen;
    text-align: center;
    margin-top: 50px;
}

.btn-reserva-icon {
    margin-right: 8px;

}
.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}
.card-hotel h4 {
    color: teal;
}
.btn-reserva {
    width: 100%;
    border-radius: 0;
    font-size: 18px;
    background-color: teal;
    color: linen;

}
footer {
    padding: 10px 10px 0 10px;
    background-color: lightgray;
    margin-bottom: 0px;
    margin-top: 30px;
}
nav{
    color: lightgray;
}
footer a {
    color: gray;
}
.footer-address-icon {
    padding-right: 10px;
}