.jumbotron {
  background-color: #dada8d;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px; }

.btn-reserva-icon {
  margin-right: 8px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 2px;
  margin-right: 0px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px; }

.card-hotel h4 {
  color: #008080; }

.btn-reserva {
  width: 100%;
  border-radius: 0;
  font-size: 18px;
  background-color: #008080;
  color: #dada8d; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #381414;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #dada8d; }

nav {
  color: #381414; }

footer a {
  color: grey; }

.footer-address-icon {
  padding-right: 30px;
  margin-top: 0px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-left: 0px; }
